.artists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a img {
    width: 50%;
    margin: 0px auto;
    padding: 0.3rem;
}

.listItem {
    margin: 0.7rem auto;
    width: 33%;
}

span{
    font-weight: 700;
}